@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
*{
  margin:0;
  padding:0;
  border:0;

}

:root{
    --corsub: #4b0808;
}

body{
   background-color: rgb(245, 178, 161);
}

header {
     padding: 32px;
     border-bottom: 5px solid var(--corsub);
     background-color: #ca2b2b ;
}

.links{
     text-align: center;
}
.links a {
     color: bisque;
     font-size: 24px;
     line-height: 32px;
     margin: 12px;
     text-decoration: solid;
     font-family: "Oswald", sans-serif;
}
.links a:hover{
  color: #1f0911;
  transition: color 700ms;
}
#box{
    text-align: center;
    padding-right: 32px;
}
#box img{
    border-radius: 25%;
    border: 8px solid var(--corsub);
    margin-bottom: 32px;
}
#box h1{
  font-size: 42px;
  line-height: 52px;
  font-weight: bolder;
}
#box p {
    max-width: 500px;
    margin: 28px auto;
    font-size: 22px;
    line-height: 32px;
}
#linksFooter {
  padding-top: 32px;
}
#linksFooter a {
  padding-top: 32px;
  padding-bottom: 8px;
  border-bottom: 3px solid var(--corsub);
}